* {
    text-align: center;
    background-color: #1E1E1E;
    color: rgb(181, 230, 29);
    font-family: 'Share Tech Mono', monospace;
}

div {
    border: 1px solid white;
}

.timer {
    font-size: 30px;
    font-weight: 500;
    display: inline;
}

a {
    color: #17a2b8;
}

img {
    padding: 0px 10px 10px 0px;
}
h2 {
    padding-top: 60px;
    padding-bottom: 40px;
    margin: 0px;
}
.btn {
    margin-top: 30px;
}
.mb-2 {
    margin: 8px;
}
li {
    text-align: left;
}
.answer-btn {
    background-color: rgb(242, 151, 102);
    color: black;
    display: block;
}

.hide-form {
    display: none;
}
.display-form {
    visibility: visible;
}
#display-message {
    color: rgb(181,206,168);
}